<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinitial.dao.PostTagLinkMapper">
  <resultMap id="BaseResultMap" type="com.sinitial.domain.PostTagLink">
    <id column="post_tag_id" jdbcType="INTEGER" property="postTagId" />
    <result column="post_id" jdbcType="INTEGER" property="postId" />
    <result column="tag_id" jdbcType="INTEGER" property="tagId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    post_tag_id, post_id, tag_id
  </sql>
  <select id="selectByExample" parameterType="com.sinitial.domain.PostTagLinkExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sl_post_tag
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sl_post_tag
    where post_tag_id = #{postTagId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sl_post_tag
    where post_tag_id = #{postTagId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sinitial.domain.PostTagLinkExample">
    delete from sl_post_tag
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sinitial.domain.PostTagLink">
    insert into sl_post_tag (post_tag_id, post_id, tag_id
      )
    values (#{postTagId,jdbcType=INTEGER}, #{postId,jdbcType=INTEGER}, #{tagId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sinitial.domain.PostTagLink">
    insert into sl_post_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="postTagId != null">
        post_tag_id,
      </if>
      <if test="postId != null">
        post_id,
      </if>
      <if test="tagId != null">
        tag_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="postTagId != null">
        #{postTagId,jdbcType=INTEGER},
      </if>
      <if test="postId != null">
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="tagId != null">
        #{tagId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sinitial.domain.PostTagLinkExample" resultType="java.lang.Long">
    select count(*) from sl_post_tag
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sl_post_tag
    <set>
      <if test="record.postTagId != null">
        post_tag_id = #{record.postTagId,jdbcType=INTEGER},
      </if>
      <if test="record.postId != null">
        post_id = #{record.postId,jdbcType=INTEGER},
      </if>
      <if test="record.tagId != null">
        tag_id = #{record.tagId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sl_post_tag
    set post_tag_id = #{record.postTagId,jdbcType=INTEGER},
      post_id = #{record.postId,jdbcType=INTEGER},
      tag_id = #{record.tagId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinitial.domain.PostTagLink">
    update sl_post_tag
    <set>
      <if test="postId != null">
        post_id = #{postId,jdbcType=INTEGER},
      </if>
      <if test="tagId != null">
        tag_id = #{tagId,jdbcType=INTEGER},
      </if>
    </set>
    where post_tag_id = #{postTagId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinitial.domain.PostTagLink">
    update sl_post_tag
    set post_id = #{postId,jdbcType=INTEGER},
      tag_id = #{tagId,jdbcType=INTEGER}
    where post_tag_id = #{postTagId,jdbcType=INTEGER}
  </update>
</mapper>